*{
    padding: 0;
    margin: 0;
    transition: 0.4s ease-in-out;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #fd3232;
    --color-primary-variant: #991313;
    --Color-top-nav: #970a0a;
    --color-black: #0f0f0f;
    --color-on-black: #000000;
    --color-black-variant: rgb(197, 197, 197);
    --color-white: #ffff;
    --color-light: #d6d6d6;
    --color-dark: #d1cbcbb0;
    --color-bg: rgb(9, 5, 54, 0.7);

    --transition: 0.4s ease;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    transition: var(--transition);


    .lado-e{
        width: 70%;
        height: 100%;
        background:linear-gradient(rgba(6, 4, 37, 0.7), rgba(9, 5, 54, 0.7)), url(MODELO.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        justify-content: center;
        display: flex;
        color: var(--color-white);
    }

    .lado-d{
        width: 35%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        form{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 40px;
            gap: 20px;
            align-items: center;

            .input{
                width: 100%;
                padding: 12px 24px;
                font-size: 16px;
                color: var(--color-black);
                border-radius: 10px;
                border: none;
                background: var(--color-dark);
                outline-color: var(--Color-top-nav);
            }
            .lembrar-senha{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 16px;
                padding: 0 12px;

                a{
                    text-decoration: none;
                    color: var(--color-black);
                    font-weight: 550;
                }
                a:hover{
                    text-decoration: underline;
                }
            }

            .btn{
                width: 100%;
                padding: 10px 15px;
                font-size: 16px;
                background: var(--color-primary);
                border: none;
                color: var(--color-white);
                font-weight: 550;
                border-radius:8px;
                transition: 0.2s ;
            }
            .btn:hover{
                background: var(--color-primary-variant);
                cursor: pointer;
            }

            .btn2{
                width: 100%;
                padding: 10px 15px;
                font-size: 16px;
                font-weight: 550;
                background: transparent;
                border: 1px solid var(--color-primary);
                color: var(--color-primary);
                border-radius:8px;
                transition: 0.2s;
                text-decoration: none;
                text-align: center;
            }
            .btn2:hover{
                background: var(--color-white);
                color: var(--color-black);
                cursor: pointer;
            }
           
        }
    }
}


@media(max-width: 769px) {
    #container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
   
    .lado-e {
        display: none;
    }

    .lado-d{
        width: 100%;
    }
    }
}